#hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 5
}
@media (min-width:992px) {
    #hamburger {
        display:none;
    }
}
@media (max-width: 760px) {
    #hamburger {
        width: 100%;
        top: 0 !important;
        left: 0 !important;
    }
}






    


















